:root {
  --first-color: #1e88e5;
  --second-color: #0d47a1;
  --backround-color: #ebebeb;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background-color: var(--second-color);
}
body::-webkit-scrollbar-thumb {
  background: var(--first-color);
}

.max-words {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Adjust the number of lines as needed */
  -webkit-box-orient: vertical;
}

@media screen and (min-width: 641px) and (max-width: 700px) {
  .you {
    display: none;
  }
}

@keyframes glow {
  0% {
    border-color: rgba(0, 255, 255, 0.7);
    box-shadow: 0 0 5px rgba(0, 255, 255, 0.7), 0 0 10px rgba(0, 255, 255, 0.7);
  }
  50% {
    border-color: rgba(255, 0, 255, 0.7);
    box-shadow: 0 0 5px rgba(255, 0, 255, 0.7), 0 0 10px rgba(255, 0, 255, 0.7);
  }
  100% {
    border-color: rgba(0, 255, 255, 0.7);
    box-shadow: 0 0 5px rgba(0, 255, 255, 0.7), 0 0 10px rgba(0, 255, 255, 0.7);
  }
}

.glow-border {
  border: 2px solid rgba(0, 255, 255, 0.7);
  animation: glow 1.5s ease-in-out infinite alternate;
}


